{{yield}}
<div class="card-header row m-0">
  <div class="col-1">
    {{gravatar-image email=post.user.email defaultImage='robohash'}}
    <div class="mt-2 text-center">
      <b> {{post.views}} views </b>
    </div>

  </div>
  <div class="col-8 header">
    {{#link-to 'post.show' post.slug}}{{post.title}} {{/link-to}}
    <div class="tag_list mt-2">
      {{#each post.tag_list as |tag|}}
      {{#link-to 'post' (query-params tag=tag) class="tag-item"}} {{fa-icon "tag"}} {{tag}} {{/link-to}}
      {{/each}}
    </div>
  </div>
  {{#if currentSession.isAuthenticated}}
  {{#if (eq currentSession.user.id post.user.id)}}
  <div class="dropdown col-3 text-right">
    {{#link-to "post.edit" post.slug class="btn btn-outline-primary"}}
    {{fa-icon "edit"}}
    {{/link-to}}
    <button data-button-delete class="btn btn-outline-danger" {{action 'deletePost' post}}>
      {{fa-icon "trash-alt"}}
    </button>
  </div>
  {{/if}}
  {{/if}}

</div>
<div class="card-content p-3">
  <p class="description">{{post.body}}</p>
</div>